{ % block body % }}
<script type="text/javascript" src="{{ asset('bundles/qiisswall/js/uploadMedia.js') }}"></script>
<div id="canvas_container">
  <div id="canvas_left" class="canvas_segment canvas_small">
    <a href="{{ path('qiiss_profile_photos', {'userid': profileid}) }}">
      <div id="profile_picture">
        <div id="profile_picture_overlay"><div>View More Photos</div></div>
        <img src="/{{ profilePicture }}">
      </div>
    </a>
    <div id="review_header">Date Reviews</div>
    <div class="review">
      This person hasn't been on any dates yet. Maybe you can be the first!
    </div>
    <div class="review">
      This person hasn't been on any dates yet. Maybe you can be the first!
    </div>
  </div>
  <div id="canvas_center" class="canvas_segment canvas_large">
    <div id="canvas_header">
      <div id="header_top">
        <div id="header_name_fav">
          <div id="header_username">{{ username }}</div>
          {% if selfProfile == true %}
              <div id="edit_profile" class="edit_profile">Edit My Profile</div>
              <div id="edit_profile_confirm" class="edit_profile">
                <img src="{{ asset('bundles/qiissgeneral/images/date-images/qiiss-green-tick.png') }}" />
                Save Changes
              </div>
              <div id="edit_profile_cancel" class="edit_profile">
                <img src="{{ asset('bundles/qiissgeneral/images/date-images/qiiss-red-cross.png') }}" />
                Cancel Edit
              </div>
          {% else %}
              <div id="header_fav">+ Favourite</div>
          {% endif %}
        </div>
        <div id="header_age">
          21
        </div>
        <div id="flag_inappropriate">Flag Profile As Inappropriate</div>
      </div>
      <div id="header_info">
        <div id="info_left"{% if selfProfile == true %} style="width:auto;" {% endif %}>
          <div id="location_div">
            <div class="info_section_header">Location<br /></div>
            <div class="info_section_bubble" id="location">{{ user.location }}</div>
            <input type="text" class="info_section_bubble_edit" id="edit_location" name="location" />
          </div>
          <div id="preference_div">
            <div class="info_section_header">Preference</div>
            <div class="info_section_bubble" id="preference">{{ user.preference }}</div>
            <input type="text" class="info_section_bubble_edit" id="edit_preference" name="preference" />
          </div>
          <div id="charity_div">
            <div class="info_section_header">Charity</div>
            <div class="info_section_bubble" id="charity">{{ user.charity }}</div>
            <input type="text" class="info_section_bubble_edit" id="edit_charity" name="charity" />
          </div><br />
          <div id="interest_div">
            <div class="info_section_header">Interests</div>
            {% for interest in user.interests %}
                  <div class="info_section_bubble" id="{% if loop.index0 == 0 %}interest_one{% elseif loop.index0 == 1 %}interest_two{% else %}interest_three{% endif %}">{{ interest.name }}</div>
                  <input type="text" class="info_section_bubble_edit" id="{% if loop.index0 == 0 %}edit_interest_one{% elseif loop.index0 == 1 %}edit_interest_two{% else %}edit_interest_three{% endif %}"/>
            {% endfor %}
          </div>
        </div>
        <div id="info_right">
          <div id="info_propose">
            {% if selfProfile == false %}
              <a href="{{ path('qiiss_profile_propose_date', { 'profileid' : profileid }) }}"><img src="{{ asset('bundles/qiissuser/images/Qiiss-Propose-Date.png') }}" /></a>
            {% endif %}
          </div>
        </div>
      </div>
      <a href="{{ path('qiiss_profile_photos', {'userid': profileid}) }}">
        <div id="sample_photos">
          <div id="sample_photos_overlay"><div>View More Photos</div></div>
          {% for photo in photos %}
            <div class="sample_photo">
              <img src="\{{ photo.mediumPath }}" />
            </div>
          {% endfor %}
        </div>
      </a>
    </div>
    <div id="canvas_body">
      <div id="canvas_body_header">
        Canvas
      </div>
      <div class="canvas_center_seperator"></div>
      <div id="canvas_story_create">
			<form action="{{ path('qiiss_wall_post') }}" method="POST">
				<input type="hidden" name="profileid" value="{{ profileid }}" />
        <input type="hidden" id="photoid" name="photoid" value="" />
        <textarea name="wall_content" rows="3" placeholder="Express Yourself!"></textarea>
        <div id="canvas_photo_preview"><img src="" /></div>
        <div id="canvas_create_lower">
          <div id="canvas_create_buttons">
            <div id="left_canvas_buttons">
              <div class="canvas_lower_button">Tag Interests</div>
              <div id="canvas_file_upload"></div>
            </div>
            <div id="right_canvas_buttons">
							<input type="submit" class="canvas_lower_button" id="post" value="Post"/>
            </div>
          </div>
        </div>
      </div>
			</form>
      <div class="canvas_center_seperator"></div>
      <div id="canvas_story_container">
      </div>
    </div>
  </div>
</div>
