<div id="upper_top_banner">
	<div id="date_icon" class="notifications">
		<img src="{{ asset('bundles/qiissuser/images/Qiiss-Date-Icon.png') }}" />
		<div class="noty_new"></div>
	</div>
	<div id="message_icon" class="notifications">
		<img src="{{ asset('bundles/qiissuser/images/Qiiss-Message-Icon.png') }}" />
		<div class="noty_new"></div>
	</div>
	<div id="notification_icon" class="notifications">
		<img src="{{ asset('bundles/qiissuser/images/Qiiss-Notification-Icon.png') }}" />
		<div class="noty_new"></div>
	</div>
	<div><a href="/faq"><div id="faq">About</div></a></div>
	<div id="logout_div">
		<div id="logout_div_profile">{{ app.user.username }}</div>
		<div id="logout_div_seperator"></div>
		<div id="logout_div_button">
			<a href="{{ path('fos_user_security_logout') }}">
                {{ 'Log Out'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>
	</div>
	<div id="notification_popup" class="popup">
		<div class="popup_header">Notifications</div>
		<div class="popup_content"><div class="vertical_align_fix"></div><img class="ajax_loader" src="{{ asset('bundles/qiissgeneral/images/ajax-loader.gif') }}"></div>
	</div>
	<div id="message_popup" class="popup">
		<div class="popup_header">Messages</div>
		<div class="popup_content"><div class="vertical_align_fix"></div><img class="ajax_loader" src="{{ asset('bundles/qiissgeneral/images/ajax-loader.gif') }}"></div>
	</div>
	<div id="date_popup" class="popup">
		<div class="popup_header">Dates</div>
		<div class="popup_content"><div class="vertical_align_fix"></div><img class="ajax_loader" src="{{ asset('bundles/qiissgeneral/images/ajax-loader.gif') }}"></div>
	</div>
</div>
<div id="lower_top_banner">
	<a href="/home"><img src="{{ asset('bundles/qiissgeneral/images/qiiss-graphics/blue/Logo.png') }}" /></a>
</div>
<div id="lower_top_nav">
	<a href="{{ path('fos_user_profile_show') }}"><div id="nav_profile" class="
		{% if (navSelection is defined) and (navSelection == "profile") %} selected left
		{% else %} left
		{% endif %}">Profile
	</div></a>
	<a href="{{ path('qiiss_profile_search') }}"><div id="nav_find_dates" class="
		{% if navSelection is defined %}
			{% if navSelection == "findDates" %} selected left right
			{% elseif navSelection == "profile" %} left left-shadow
			{% elseif navSelection == "searchPeople" %} right right-shadow
			{% else %} left
			{% endif %}
		{% else %} left
		{% endif %}">Search People
	</div></a>
	<a href="/global-canvas"><div id="nav_global_canvas" class="
		{% if navSelection is defined %}
			{% if navSelection == "globalCanvas" %} selected left right
			{% elseif navSelection == "findDates" %} left left-shadow
			{% elseif navSelection == "settings" %} left right right-shadow
			{% else %} left
			{% endif %}
		{% else %} left
		{% endif %}">Global Canvas
	</div></a>
	<a href="{{ path('qiiss_self_admin') }}"><div id="nav_settings" class="
		{% if navSelection is defined %}
			{% if navSelection == "settings" %} selected
			{% elseif navSelection == "findDates" %} left left-shadow
			{% else %} left
			{% endif %}
		{% else %} left
		{% endif %}">Settings
	</div></a>
</div>
