<!DOCTYPE html>
<html class="yui3-cssreset">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Qiiss - Profile{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/qiissuser/css/header.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/qiisssearch/css/search.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/globalFunctions.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/cssreset-context-min.css') }}" type="text/css" media="all" />
    {% endblock %}
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/modernizr.2.6.2-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/yepnope.1.5.4-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/polyfiller.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/globalFunctions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissuser/js/profile/ajaxDropDown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissuser/js/header.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiisssearch/js/search.js') }}"></script>
</head>
<body>
	{% include 'QiissUserBundle:Profile:header.html.twig' %}
	<div id="main_container">
		<div id="search_param_container_outer">
			<div id="search_param_container_inner">
				<div id="search_param_header">
					Search (Click to contract)
				</div>
				<div class="search_param_section">
					<div class="search_param_section_header">
						General (Click To Expand)
					</div>
					<div class="search_param_section_body">
						<div class="search_param_field_block">
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Gender</div>
								<input type="text" class="search_param_field" id="search_param_gender" placeholder="Gender" />
							</div>
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Age - Minimum</div>
								<input type="text" class="search_param_field" id="search_param_age" placeholder="Age - Minimum" />
							</div>
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Age - Maximum</div>
								<input type="text" class="search_param_field" id="search_param_age" placeholder="Age - Maximum" />
							</div>
						</div>
						<div class="search_param_field_block lower">
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Location</div>
								<input type="text" class="search_param_field" id="search_param_location" placeholder="Location" />
							</div>
						</div>
					</div>
				</div>
				<div class="search_param_section">
					<div class="search_param_section_header">
						Interests (Click To Expand)
					</div>
					<div class="search_param_section_body">
						<div class="search_param_field_block">
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Interest One</div>
								<input type="text" class="search_param_field" id="search_param_interest_one" placeholder="Interest One" />
							</div>
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Interest Two</div>
								<input type="text" class="search_param_field" id="search_param_interest_two" placeholder="Interest Two" />
							</div>
							<div class="search_param_field_outer">
								<div class="search_param_label hidden">Interest Three</div>
								<input type="text" class="search_param_field" id="search_param_interest_three" placeholder="Interest Three" />
							</div>
						</div>
					</div>
					<div id="search_param_submit_outer">
						<div id="search_param_submit_inner">
							Search
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
