<!DOCTYPE html>
<html class="yui3-cssreset">
<pre>
</pre>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Qiiss - Propose A Date{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/qiissprofile/css/proposeDate.css') }}" type="text/css" media="all" />
	    <link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/globalFunctions.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/cssreset-context-min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('bundles/qiissprofile/css/timepicker.css') }}" type="text/css" media="all" />
	{% endblock %}
	<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/modernizr.2.6.2-min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/yepnope.1.5.4-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/polyfiller.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/globalFunctions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissprofile/js/jquery-calender-widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissprofile/js/timepicker-min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissprofile/js/proposeDate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissuser/js/header.js') }}"></script>
</head>
<body>
{% include 'QiissUserBundle:Profile:header.html.twig' %}
<div id="main_container">
	<div id="propose_date_main_border">
		<div id="propose_date_main_header">
			Propose A Date
		</div>
		<div id="propose_date_main_left">
			<div class="section_header">Your Date</div>
			<div id="propose_date_profile_picture">
			</div>
		</div>
		<div class="propose_date_main_right">
			<div class="section_container">
				<div class="header">
					<div class="inner">The Details (Click to contract)</div>
				</div>
				<div class="section">
					<div class="section_body">
						<form action="{{ path('qiiss_profile_propose_date') }}" method="post" {{ form_enctype(form) }}>
							<div class="content">
								<div class="content_header">Date Overview</div>
							    <div class="content_block">
							    	<div class="content_upper_text">
							    		Put your creative hat on – it’s time to suggest a date.
							    	</div>
							    	{{ form_widget(form.event_description, { 'attr': {'placeholder': 'Date Overview', 'rows' : 6} }) }}
							    	<div class="content_lower_text">
							    		Capture their imagination! Don’t be afraid to suggest something unique; after all, it could be an unforgettable experience.
							    	</div>
							    </div>
							</div>
							<div class="content">
						    	<div class="content_header">Date / Time</div>
							    <div class="content_block">
							    	<div id="calendar" class="calendar"></div>
							    	<div id="calendar_one_month" class="calendar"></div>
							    	<div id="calendar_two_month" class="calendar"></div>
							    	<div id="date_date">
							    		{{ form_widget(form.event_date.date.day) }}
							    		{{ form_widget(form.event_date.date.month) }}
								    	{{ form_widget(form.event_date.date.year) }}
							    	</div>
							    	<div id="date_time">
							    		{{ form_widget(form.event_date.time.hour) }}
							    		{{ form_widget(form.event_date.time.minute) }}
							    	</div>
							    	<div id="time_picker_container">
							    		<input type="text" id="time_picker" placeholder="Time" required="required"/>
							    	</div>
							    </div>
						    </div>
						    <div class="content">
							    <div class="content_header">Location</div>
							    <div class="content_block">
							    	{{ form_widget(form.event_place, { 'attr': {'placeholder': 'Event Location'} }) }}
							    </div>
							</div>
						    <div class="content">
							    <div class="content_header">Media</div>
							    <div class="content_block">
							    	{{ form_widget(form.event_media, { 'attr': {'placeholder': 'Event Media'} }) }}
							    </div>
						    </div>
						    <div class="content">
							    <div class="content_header">Links</div>
							    <div class="content_block">
							    	{{ form_widget(form.event_link, { 'attr': {'placeholder': 'Event Links'} }) }}
							    </div>
						    </div>
						    <div class="content">
							    <div class="content_header">Price (Optional)</div>
							    <div class="content_block">
							    	{{ form_widget(form.event_price, { 'attr': {'placeholder': 'Price'} }) }}
							    </div>
						    </div>
						    {{form_widget(form._token)}}
						    <div class="content_submit">
						    	<input type="submit" class="submit" value="Submit" />
						    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>