<!DOCTYPE html>
<html class="yui3-cssreset">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Qiiss - Photos{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/qiissuser/css/header.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('bundles/qiissprofile/css/photos.css') }}" type="text/css" media="all" />
	    <link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/globalFunctions.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/css/cssreset-context-min.css') }}" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ asset('bundles/qiissgeneral/js/fancybox/jquery.fancybox.css') }}" type="text/css" media="all" />
	{% endblock %}
	<script type="text/javascript">
		var profileid = {{ userid }};
	</script>
	<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/modernizr.2.6.2-min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/yepnope.1.5.4-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/polyfiller.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/globalFunctions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/jquery.masonry.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/fancybox/jquery.fancybox.pack.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissuser/js/jquery.fineuploader-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissprofile/js/photos.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/qiissuser/js/header.js') }}"></script>
</head>
{% include 'QiissUserBundle:Profile:header.html.twig' %}
<body>
	<div id="main_container">
		{% if selfPage == true %}
		<div id="upload_photos_container">
			<div id="upload_photos_outer">
				<div id="upload_photo_inner">
					Upload Photos
				</div>
			</div>
		</div>
		{% endif %}
		<div id="photo_container">
			{% if photos is defined %}
			{% for photo in photos %}
			<a href="/{{ photo.largePath }}" class="fancybox" rel="group">
		        <div class="photo">
		        	{% if photo.status == "unpublished" %}
	        		<div class="publish_button">Click to publish</div>
		        	{% endif %}
		        	<input type="hidden" class="photoid" value="{{ photo.id }}">
		        	<div class="photo_container_inner">
		        		<img src="/{{ photo.mediumPath }}" />
		        	</div>
		        </div>
		    </a>
		    {% endfor %}
		    {% endif %}
		</div>
	</div>
</body>
</html>