<!DOCTYPE html>
<html>
<pre>
</pre>
<head>
	<meta charset="utf-8">
	<title>{% block title %}FAQ{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/qiissuser/css/changePassword.css') }}" type="text/css" media="all" />
		{% endblock %}
			<script type="text/javascript" src="{{ asset('bundles/qiissgeneral/js/jquery-1.8.3.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/qiissuser/js/changePassword.js') }}"></script>
</head>
<body>
<div class="faq_main_border">
	<div class="faq_main">
		<div class="header">
			<a href="{{ path('qiiss_general_homepage') }}"><img src="{{ asset('bundles/qiissgeneral/images/qiiss-graphics/blue/Logo.png') }}" /></a>
			<div class="seperator"></div>
			<div class="inner">Change Password</div>
		</div>
		<div class="section">
			<div class="section_body">
				<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
				    <input type="text" id="username" name="fos_user_change_password_form[current_password]" placeholder="{{ 'Username'|trans({}, 'FOSUserBundle') }}" required="required" />
				    <input type="password" id="username" name="fos_user_change_password_form[new][first]" placeholder="{{ 'Username'|trans({}, 'FOSUserBundle') }}" required="required" />
				    <input type="password" id="username" name="fos_user_change_password_form[new][second]" placeholder="{{ 'Username'|trans({}, 'FOSUserBundle') }}" required="required" />
				    <input type="hidden" id="token" name="fos_user_change_password_form[_token]" value="{{form._token.vars.value}}" />
				    <div>
				        <input type="submit" value="{{ 'Submit'|trans({}, 'FOSUserBundle') }}" />
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
