<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(changePassword) }} method="POST" class="fos_user_change_password">
    <input type="text" id="current_password" name="fos_user_change_password_form[current_password]" placeholder="{{ 'Current Password'|trans({}, 'FOSUserBundle') }}" required="required" />
    <div class="seperator"></div>
    <input type="password" id="new_password_first" name="fos_user_change_password_form[new][first]" placeholder="{{ 'New Password'|trans({}, 'FOSUserBundle') }}" required="required" />
    <input type="password" id="new_password_second" name="fos_user_change_password_form[new][second]" placeholder="{{ 'Confirm Password'|trans({}, 'FOSUserBundle') }}" required="required" />
    <input type="hidden" id="token" name="fos_user_change_password_form[_token]" value="{{changePassword._token.vars.value}}" />
    <div>
        <input type="submit" class="submit" value="{{ 'Submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>