<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(changePassword) }} method="POST" class="fos_user_change_password">
	<div>
		<div class="error_message old_password_error_message">Error</div>
		{{form_widget(changePassword.current_password, { 'attr': {'placeholder': 'Current Password'} })}}
	</div>
    <div class="seperator"></div>
    <div>
		<div class="error_message new_password_error_message">Error</div>
		{{form_widget(changePassword.new.first, { 'attr': {'placeholder': 'New Password'} })}}
	</div>
    <div>
		<div class="error_message new_password_error_message">Error</div>
		{{form_widget(changePassword.new.second, { 'attr': {'placeholder': 'Confirm Password'} })}}
	</div>
    	{{form_widget(changePassword._token)}}
    <div>
        <input type="submit" class="submit" value="{{ 'Submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>